#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display:flex;
}

li {
  list-style-type: none;
 
}

.menu {
  display:flex;
  flex-direction:row;
  gap: 20px;
 
}